* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  transition: padding-right 0.5s;
  /* border: 2px solid red; */
}

nav ul li {
  margin: 0 25px;
  /* border: 2px solid blue; */
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 15px 0;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.5s, color 0.5s;
}

nav ul li a:hover {
  color: #11a372;
  transform: scale(1.1) rotate(-5deg);
}

section {
  padding: 100px 20px;
  min-height: 100vh;
}

#home {
  padding-top: 60px;
}

h1 {
  margin-bottom: 20px;
}
